body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  padding: 1rem 3rem;
  background-color: #272727;
  color:rgba(255,255,255,0.7);
}
.popup {
  background-color: rgba(255, 255, 255, 0.678);
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
  padding:1em;
  color:black;
  animation: fadeout 1000ms ease 4000ms;
  animation-fill-mode: forwards;
}
@keyframes fadeout {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

.fields {
  display:block
}
h1 {
  margin-bottom: 0.3em;
  color:rgba(255,255,255,0.9);
}
.hidden {
  display: none !important;
}
.field {
  display: grid;
  grid-template-columns: 200px auto;
  align-items: center;
  border-radius: 0.3rem;
  padding:0.5rem;
  padding-right: 0rem;
  background-color: rgba(255,255,255,0.05);
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
  color:rgba(255,255,255,0.8);
}
.field .value {
  text-align: right;
  padding-right: 0.5rem;
  font-weight: 200;
  color:rgba(255,255,255,0.55);
  font-style: italic;
}
#server-status {
  padding-right: 0rem;
}
.field + .field {
  margin-top: 1em;
}

.padded {
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.4rem;
  gap:1em;
}

button {
  border:0;
  border-radius: 0.3rem;
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: 400ms all ease;
}

button:hover {
  background-color: rgba(0,0,0,0.8);
  color:white;
}

.bg-yellow {
  background-color: rgb(192, 113, 61);
  color:white;
}

.bg-red {
  background-color: rgb(131, 22, 22);
  color:white;
}

.bg-green {
  background-color: rgb(22, 131, 58);
  color:white;
}
.bg-grey {
  background-color: rgba(0,0,0,0.3);
  color:rgba(0,0,0,0.8);
}

.flex {
  display: flex;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}

.bordered {
  border:1px solid rgba(255,255,255,0.1);
  border-radius: 0.3rem;
  padding:0.5rem;
}

@keyframes fadein {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.hook {
  min-width: 45%;
  margin-bottom: 1em;
  background-color: rgba(255,255,255,0.1);
  transition: all 1000ms ease;
}
.small {
  padding:0.5rem;
}
.mt-0 {
  margin-top: 0;
}
.w-100 {
  width: 100%;
}
.flex-end {
  justify-content: flex-end;
}
.gap-03 {
  gap:0.3em;
}
.pad-0 {padding:0}
a {
  text-decoration: none;
}
.pointer {
  cursor: pointer;
}
.trans {
  transition: all 400ms ease;
}
.hover-red:hover {
  color:rgb(182, 48, 24) !important
}
.hover-moveleft:hover {
  transform: translateX(1%);
}
.hook .name {
  font-weight: 800;
  font-size: 1.2rem;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
}
.hook .url {
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
  margin-left: 0;
  color:rgb(172, 172, 189);
  display: block;
  font-size: 0.85rem;
}
.hook .last {
  flex-shrink: 0;
  flex-grow: 1;
  text-align: right;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  align-items: center;
  vertical-align: middle;
}
.hook svg {
  max-width: 19px;
  max-height: 16px;
}

.hook .cmd {
  font-style: italic;
  color:white;
  font-weight: 200;
  font-size: 0.9rem;
  background-color: rgba(0,0,0,0.7);
  border-radius: 0.3rem;
  padding:1.5rem 1rem;
  margin-bottom: 0.5rem;
}

.hook .cmd p {
  font-weight: bold;
  color:rgb(150, 150, 34);
}

.mt-1 {
  margin-top: 1em;
}

select,input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
  padding:0.5em 1em;
  border:0;
  border-radius: 0.1rem;
  outline: 0 !important;
  background-color: rgba(255,255,255,0.8);
}
.centered {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}